################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Parpera.TransactionService/Parpera.TransactionService.Domain/bin/Debug/net5.0
/Parpera.TransactionService/Parpera.TransactionService.Domain/obj
/Parpera.TransactionService/Parpera.TransactionService.Api/bin/Debug/net5.0
/Parpera.TransactionService/Parpera.TransactionService.Api/obj
